.land{
    width: 100%;
    text-align: center;
    height: 90vh;
    padding-top: 200px;
    background-size: cover !important;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.land .contents{
    max-width: 600px;
    text-align: left;
    margin-left: 50px;
}
.land h1{
    font-size: 30px;
    color: white;
}
.sub-head{
    font-size: 15px;
    font-weight: 600;
    color: white;
    opacity: .7;
}
.para{
    font-size: 15px;
    color: white;
    margin-bottom: 50px;
    font-weight: bold;
}

.form input{
    width: 40%;
    height: 65px;
    outline: none;
    padding-left: 10px;
}
.submit-btn{
    background: red;
    color: white;
    position: relative;
    top: 5px;
    height: 71px;
    width: 250px;
    border: none;
    outline: none;
    font-size: 30px;
}
@media screen and (max-width: 400px) {
    .form input{
        width: 80%;
        height: auto;
        padding: 10px 20px;
    }
    .land{
        padding-top: 100px;
        height: 90vh;
    }
    .land .contents{
        margin-left: 0px;
        padding: 0px 20px;
        background-size: 100%;
    }
    .land h1{
        font-size: 25px;
        border-radius: 5px;
    }
    .sub-head{
        font-size: 12px;
    }
    .para{
        font-size: 15px;
        margin: 0px 20px 30px 20px;
    }
    .submit-btn{
        height: auto;
        width: auto;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        border-radius: 5px;
    }
}