span{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: red;
}

.poster{
    display: flex;
    overflow-x: scroll;
}
.poster::-webkit-scrollbar{
   display: none;
}
.poster img{
    max-width: 400px;
    max-height: 250px;
    margin: 20px;
    cursor: pointer;
    opacity: .8;
    transition: .5s ease-in;
}
.movie{
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
    margin-left: 30px;
}
.poster img:hover{
    transform: scale(1.1);
    opacity: 1;
}